In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

your_dataset=pd.read_csv('Churn_Modelling.csv')

# just add to this list all the columns you want to scale
VariableList = [ 'Age',"CreditScore"]

scaler = MinMaxScaler()

# removed second loop for optimization
# iterate over variables in VariableList
for j in range(0,len(VariableList)):
    # extract target column
    temp = your_dataset[VariableList[j]]
    # reshape to a df as long as dataset with only 1 column
    temp1 = temp.values.reshape(-1,1)
    # fit scaler
    scaler.fit(temp1)
    # scale to a range
    norm = scaler.transform(temp1)
# ----------------------IMPORTANT----------------------
    # convert your_dataset column into float*********
    # This is where our problem was coming from
    # It was converting our range eg >> 0.37 into an int: 0
    your_dataset[VariableList[j]] = norm.astype("float")
# ----------------------IMPORTANT----------------------
your_dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,0.538,France,Female,0.324324,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,0.516,Spain,Female,0.310811,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,0.304,France,Female,0.324324,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,0.698,France,Female,0.283784,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,1.000,Spain,Female,0.337838,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,0.842,France,Male,0.283784,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,0.332,France,Male,0.229730,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,0.718,France,Female,0.243243,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,0.844,Germany,Male,0.324324,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,0.884,France,Female,0.135135,4,130142.79,1,1,0,38190.78,0